* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Monaco", sans-serif;
}

body {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
}

#game-board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#restart-button {
  margin-top: 15px;
}

.blackPiece {
  height: 35px;
  width: 35px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.redPiece {
  height: 35px;
  width: 35px;
  background-color: darkred;
  border-radius: 50%;
  display: inline-block;
}

.selected {
  outline: 2.5px solid rgb(128, 244, 128);
}

#game-state {
  margin-top: 10px;
}

.redPiece.king {
  border: 3px solid gold;
}

.blackPiece.king {
  border: 3px solid gold;
}

h2 {
  margin-bottom: 14px;
}
